<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>580987416462-go5grn2rn1juqpf88s422mstn6eled3n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.580987416462-go5grn2rn1juqpf88s422mstn6eled3n</string>
	<key>API_KEY</key>
	<string>AIzaSyBjLAdXkB6LKuxZZMPPaLC7DsOJfUVjBDw</string>
	<key>GCM_SENDER_ID</key>
	<string>580987416462</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iMobileCode.ParkALot</string>
	<key>PROJECT_ID</key>
	<string>parkalot-fbb58</string>
	<key>STORAGE_BUCKET</key>
	<string>parkalot-fbb58.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:580987416462:ios:a202004d28659568c0bedf</string>
</dict>
</plist>